﻿@page
@model DataTablesTest.Pages.AjaxGetModel
@{
    ViewData["Title"] = "AjaxGet";
}

<h2>10,000 registros vía Ajax</h2>

<div class="row">
    <div class="col-sm">
        <table id="example" class="table table-condensed" style="width:100%">
            <thead>
                <tr>
                    <th>Item 1</th>
                    <th>Item 2</th>
                    <th>Item 3</th>
                    <th>Item 4</th>
                    <th>Item 5</th>
                    <th>Item 6</th>
                    <th>Item 7</th>
                    <th>Item 8</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Item 1</th>
                    <th>Item 2</th>
                    <th>Item 3</th>
                    <th>Item 4</th>
                    <th>Item 5</th>
                    <th>Item 6</th>
                    <th>Item 7</th>
                    <th>Item 8</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            ajax: {
                'url': 'api/values/getitemsarray/10000',
                dataSrc: ''
            }
        });
    });
</script>