﻿@page
@using DataTablesTest.Core
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Generar del modo más básico posible</h3>
<br />
<form asp-page="/Index" method="post">
    <div class="row">
        <div class="col-sm-4">
            <label>Cantidad de filas</label>
            <input class="form-control" asp-for="RowCount" />
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" style="margin-top: 32px">Generar</button>
        </div>
        <div class="col-sm-6">
            <a asp-page="/AjaxGet">
                <h4>Generar 10,000 registros vía Ajax</h4>
            </a>
        </div>
    </div>
</form>
<br />
@if (Model.RowCount > 0)
{
    <div class="row">
        <div class="col-sm">
            <table id="myTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th>@RandomWordGenerator.Generate()</th>
                        <th>@RandomWordGenerator.Generate()</th>
                        <th>@RandomWordGenerator.Generate()</th>
                        <th>@RandomWordGenerator.Generate()</th>
                        <th>@RandomWordGenerator.Generate()</th>
                        <th>@RandomWordGenerator.Generate()</th>
                        <th>@RandomWordGenerator.Generate()</th>
                        <th>@RandomWordGenerator.Generate()</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.RowCount; i++)
                    {
                        <tr>
                            <td>@RandomWordGenerator.Generate()</td>
                            <td>@RandomWordGenerator.Generate()</td>
                            <td>@RandomWordGenerator.Generate()</td>
                            <td>@RandomWordGenerator.Generate()</td>
                            <td>@RandomWordGenerator.Generate()</td>
                            <td>@RandomWordGenerator.Generate()</td>
                            <td>@RandomWordGenerator.Generate()</td>
                            <td>@RandomWordGenerator.Generate()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        })
    </script>
}



